@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-style: inherit;
    font-family: "Inter", sans-serif;
}


.header {
    display: flex;
    color: black;
    align-items: center;
    padding: 15px 35px;
    gap: 95px;
    position: fixed;
    width: 100%;
    background: rgba(255,255,255,1);
}

.header { 
    .logo{
        font-size: 25px;
        font-weight: 600;
        color: rgb(29, 201, 155);
    }
    ul{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 35px;
        font-weight: 600;
    }
    a{
        text-decoration: none;
        color: rgb(0,0,0);
    }
}

a{
    &:hover{
        color: rgb(29, 201, 155);
        transition: ease-in-out .3s;
        font-weight: 700;
    }
}


.grid__container{
    background-color: rgb(29, 201, 155);
    padding: 125px 35px 25px 35px;
}

.grid__container{ 
    .grid_item{
        display: flex;
        height: auto;
    }
}

.grid_item{
    .text_card{
        padding-top: 25px;
        color: rgba(255,255,255,1);
    }
    .image_card{
        width: 100%;
        height: 100%;
    }
}

.text_card {
    h1{
        margin-bottom: 15px;
        max-width: 70%;
        font-size: 2.78vw;
    }
    p{
        line-height: 27.5px;
        max-width: 70%;
        font-weight:500;
        font-size: 1.56vw;
    }
}

.image_card{
    img{
        width: 100%;
        height: 100%;
        border-radius: 18px;
    }
}